body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #cce0ff, #e6f2ff);
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #003b99;
}

input {
  padding: 7px;
  width: 65%;
  border: 1px solid #888;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  margin-left: 10px;
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #004ecc;
}

ul {
  padding-left: 20px;
  margin-top: 15px;
}

li {
  font-size: 17px;
  margin-bottom: 5px;
}
